// ?colors
$main-color:#252525;
$secondary-color:#e7ab3c;
$title-color:yellow;
$border-color:#e5e5e5;
$subtitle-color:#6e6e6e;


// ? fontsizes
$title-fontsize:16px;
$subtitle-fontsize:10px;
$header-fontsize:48px;

// ?fonts
$main-fontfamily: "Muli", sans-serif;